@use "../../App";

.layout {
  background: #1c1d3b;
  padding: 24px;
  padding-bottom: 0px;
  min-height: 100vh;
}

.main {
  @extend %perfect-centered;
  align-items: initial;
  min-height: calc(100vh - 276px);
  margin-top: 40px;
}
