@use "../../App";

/**Variables**/
$primary-color: #a2f2f9;
$secondary-color: #d8e054;

.button-base {
  @extend %perfect-centered;
  width: max-content;
  min-width: 240px;
  min-height: 53px;
  border-width: 0px 0px 4px 4px;
  border-style: solid;
  box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.1em;
  color: App.$font-color-primary;
  transition: transform 0.2s;
  padding: 0 80px;
  &:hover {
    transform: scale(1.05);
  }
}

.button-color-primary {
  background: $primary-color;
  border-color: $secondary-color;
}

.button-color-secondary {
  background: $secondary-color;
  border-color: $primary-color;
}
