@use "../../root/App";

%text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.card {
  padding: 12px;
  width: 120px;
  height: 150px;
  box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border: none;
}

.card-open {
  display: flex;
  flex-direction: column;
  background: #ffffff;

  h4,
  p {
    margin: 0;
    text-align: left;
  }

  img {
    width: 100%;
    border-radius: 8px;
  }
}

.name {
  @extend %text-ellipsis;
  color: App.$font-color-primary;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  margin-top: 8px;
}

.origin {
  @extend %text-ellipsis;
  color: App.$font-color-secondary;
  font-size: 10px;
  line-height: 12px;
}

.card-close {
  @extend %perfect-centered;
  background: #a2f2f9;
  cursor: pointer;
  transition: transform 0.2s;

  img {
    width: 100%;
  }

  &:hover {
    transform: scale(1.05);
  }
}

.wasFound {
  visibility: hidden;
}

@media (min-width: #{App.$sm}) {
  .card {
    padding: 16px;
    width: 150px;
    height: 183px;
  }
}

@media (max-width: 374px) {
  .card {
    padding: 8px;
    width: 28vw;
    min-height: 28vw;
    height: auto;
  }

  .not-show-texts {
    height: 28vw !important;
    .name,
    .origin {
      display: none;
    }
  }
}
