@use "../../root/App.scss";

.root {
  margin: auto;
  width: min-content;

  h2 {
    font-size: 32px;
  }
}

.containerButtons {
  margin-top: 48px;
  flex-direction: column;
  gap: 25px;

  * {
    width: 100%;
  }
}
@media (min-width: #{App.$sm}) {
  .containerButtons {
    margin-top: 72px;
    flex-direction: row;
  }

  .root {
    h2 {
      font-size: 48px;
    }
  }
}
